.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  font-size: 3vw;
  margin-left:5em;
  margin-right:5em;
  font-weight: bold;
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

#header {
  height: 100px;
  width: 90%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-left: 5%;
  margin-right:5%;
}
#shelby {
  font-weight: bold;
  font-size: 1.25em;
}

#navRight {
  display: flex;
  justify-content: space-between;
  width: 140px;

}

#downArrow {
  display: flex;
  justify-content: center;
  height: 10vw;
  font-size: 3vw;
}
