body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.IntroductionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 3vw;
  margin-left:5em;
  margin-right:5em;
  font-weight: bold;
  position: relative;
}

.AboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

#header {
  z-index: 1030;
  font-size: 1em;
  height: 10vh;
  width: 90%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-left: 5%;
  margin-right:5%;
}


#shelby {
  font-weight: 900;
  font-size: 1.25em;
   text-align: center;
}

#navRight {
  display: flex;
  justify-content: space-between;
  width: 140px;
  float: right;
}

#downArrow {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 3.5vw;
  position: absolute;
  bottom: 8%
}
#upArrow {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 3.5vw;
  position: absolute;
  bottom: 8%
}

#aboutText {
  max-width: 65vw;
  max-height: 500px;
}

#iconContainer {
  width: 40vw;
  max-height: 500px;
  display: flex;
  justify-content: space-between;
  font-size: 3.5vw;
}

.icon-cog {
  color: black;
}

.arrow:hover {
  -webkit-animation: fadeIn 4s;
  animation: fadeIn 4s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
